
/*Id presets*/

#po1{ color: black;
		Margin-top:	20%;
		Margin-bottom:	20%;
		Margin-left:	20%;
		Margin-right:	20%;
			Background-color: white;
			border-color: Black;
			border-width:5px;
			border-bottom: solid #000000;
			border-Top: solid #000000;
			border-left: solid #000000;
			border-right: solid #000000;
			border-style: ridge;}



#po2{
	color: black;
		text-align:left;
			Background-color: white;
				border-color: Black;
				border-width:0px;
				border-bottom: solid #000000;
				border-Top: solid #000000;
				border-left: solid #000000;
				border-right: solid #000000;
				border-style: ridge;
				border-right-color:transparent;
				border-left-color:transparent;
				border-bottom-color:transparent;
				width:80%;}

#po3[type="text"]{
	margin-left:15%;
	width:35%;}

#table1{
		width:80%;
		border:1px solid black;
		}


/*----*/



/*Singular tags*/

h1{text-align:center;}

/*----*/

form p{margin-left:25px;
		text-decoration:bold;}

/*----*/

h2{
	text-align:center;}

/*----*/

th{
	text-decoration:bold;}

td{
	border: 1px solid bold}


/*Form*/

Input[type="text"]{
	margin-left:15%;
	width:35%;}

/*----*/

Input[type="Submit"]{
	margin-left:10%;}

/*----*/

Input[type="gender"; name="gender"]{
	    width: 25%;
			padding: 12px 20px;
			margin: 8px 0;
			display: inline-block;
			border: 1px solid #ccc;
			box-sizing: border-box;}

/*----*/

Input[type="radio"]{
	margin-left:10%;}

/*----*/


/*Parallax*/

body, html{
height:100%;}

/*----*/

.parallax{
		height:0.1%;
		Background-image:url("beach.png");
		background-attachment:fixed;
		background-position:center;
		background-repeat:no-repeat;
		background-size:cover;}


/*----*/

/*tooltips*/

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
